
.about {
    text-align: center;
    line-height: 2.0;
    background-size: cover;
    color: white;
    margin: 0px;
}

.graduation {
    margin-right: 10px;
    float: left;

}

.aboutpic {


    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}


