
.about {
    background-image: url(images/CodingStock.jpeg);
    background-position: 30% 15%;
    width: 900px;
    height: 100px;
    text-align: center;
    line-height: 2.4;
    background-size: cover;
    color: white;
    font-weight: italic
}