
.about {
    background-image: url(images/CodingStock.jpeg);
    background-position: 30% 15%;
    text-align: center;
    line-height: 3.0;
    background-size: cover;
    color: white;
    margin: 0px;
}

.graduation {
    margin-right: 10px;
    float: left;

}