*[type=text]{
    color: white
}

*[type=email] {
    color: white
}

textarea {
    color: white !important;
}


 *[type=submit]:hover {
     background-color:rgb(85, 85, 85) ;
}
 .container {
     border-radius: 5px;
}

*[type=submit] {
    color: white;
    background-color: black
}

input::placeholder {
    opacity: 50%;
}