*[type=text]{
    color: black
}

*[type=email] {
    color: black
}

.textarea {
    color: black
}

 input[type=submit] {
     background-color: rgb(170, 170, 170);
     color: black;
     padding: 12px 20px;
     border: none;
     border-radius: 4px;
     cursor: pointer;
}

 input[type=submit]:hover {
     background-color:rgb(133, 133, 133) ;
}
 .container {
     border-radius: 5px;
}