*[type=text]{
    color: black
}

*[type=email] {
    color: black
}

.textarea {
    color: black
}


 *[type=submit]:hover {
     background-color:rgb(85, 85, 85) ;
}
 .container {
     border-radius: 5px;
}

*[type=submit] {
    color: white;
    background-color: black
}